//utility class
//columns
// Margin

.h-expand-space {margin:0;}
.h-spacer-none {margin-bottom:0;}
.h-spacer-xxxsmall { margin-bottom: 5px; }
.h-spacer-xxsmall { margin-bottom: 8px; }
.h-spacer-xsmall { margin-bottom: 16px; }
.h-spacer-small { margin-bottom: 32px; }
.h-spacer-medium { margin-bottom: 52px; }
.h-spacer-large { margin-bottom: 60px; }
.h-spacer-xlarge { margin-bottom: 160px; }

.h-headspacer-none {margin-top:0;}
.h-headspacer-xxxsmall { margin-top: 5px; }
.h-headspacer-xxsmall { margin-top: 8px; }
.h-headspacer-xsmall { margin-top: 16px; }
.h-headspacer-small { margin-top: 32px; }
.h-headspacer-medium { margin-top: 48px; }
.h-headspacer-large { margin-top: 60px; }
.h-headspacer-xlarge { margin-top: 160px; }

// Padding
.h-space-in-none {padding-bottom:0;}
.h-space-in-xxsmall { padding-bottom: 8px; }
.h-space-in-xsmall { padding-bottom: 18px; }
.h-space-in-small { padding-bottom: 32px; }
.h-space-in-medium { padding-bottom: 48px; }
.h-space-in-large { padding-bottom: 60px; }
.h-space-in-xlarge { padding-bottom: 160px; }
.h-tips-nav {padding-bottom: 400px; }
.h-space-sticky { padding-bottom: 80px; }

// Padding
.h-space-right {padding-right: 0;}
.h-space-left {padding-left: 0;}

.h-headspacer-in-none {padding-top:0;}
.h-headspacer-in-xxsmall { padding-top: 8px; }
.h-headspacer-in-xsmall { padding-top: 18px; }
.h-headspacer-in-small { padding-top: 32px; }
.h-headspacer-in-medium { padding-top: 48px; }
.h-headspacer-in-large { padding-top: 60px; }
.h-headspacer-in-xlarge { padding-top: 160px; }
