.-bold {
  font-weight: bold;
}

.-bg-gray {
  background-color: $background-gray;
}

.-bg-gray-dark {
  background-color: #333;
}

.-bg-white {
  background-color: $background-white;
}

.-c-gray {
  color: $color-gray;
}

.-radius {
  border-radius: 15px;
}
