<header class="header -bg-gray-dark" ng-controller="HeaderCtrl">
  <div ng-if="isShowNewGame">
    <div ng-include="'/views/new-game.html'" ng-if="currentUser"></div>
  </div>
  <div class="navbar" role="navigation">
    <div class="container">
      <ul class="list-inline pull-right nav-header">
        <li>
          <button type="button" class="btn btn-default btn__dark -radius" ng-click="showNewGame()" ng-disabled="!currentUser">{{strOptionCreate}}</button>
        </li>
        <li>
          <a href="#" class="-c-gray" ng-if="currentUser">Logout</a>
          <a href="#" class="-c-gray" ng-if="!currentUser" ng-click="login()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>
