<section class="-bg-gray-dark -c-gray" ng-controller="GameCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h2 class="page-header hidden-xs">New member?</h2>

      </div>  <!-- ./col-xs-12 -->
    </div> <!-- ./row -->

    <div class="row">
      <div class="col-xs-12">
        <h4>Please drag and drop players in their respective teams then fill up the game’s score</h4>
        <div class="tabs">
          <span ui-sortable="draggableOptions" class="screen draggable-element-container"
                ng-repeat="draggableArray in draggables track by $index"
                ng-model="draggableArray">
            <span ng-repeat="draggable in draggableArray" class="label label__default">{{draggable.name}}</span>
          </span>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-5 col-sm-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Team 1</div>
          <ul ui-sortable="sortableOptions" class="panel-body panel-body__team list-unstyled connected-drop-target-sortable" ng-model="selectedComponents">
            <li ng-repeat="component in selectedComponents track by $index">
              <span class="label label__default center-block">{{component.name}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-2 col-sm-4 col-md-2">
        <div class="row type-score">
          <div class="col-xs-12 col-sm-5"><input type="number" placeholder="0"/></div>
          <div class="col-xs-12 col-sm-2 text-center"><span class="bar"></span></div>
          <div class="col-xs-12 col-sm-5"><input type="number" placeholder="0"/></div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Team 2</div>
          <ul ui-sortable="sortableOptions1" class="panel-body panel-body__team list-unstyled connected-drop-target-sortable" ng-model="selectedComponents1">
            <li ng-repeat="component in selectedComponents1 track by $index">
              <span class="label label__default center-block">{{component.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="btn btn-default btn-lg text-uppercase -radius h-headspacer-small" ng-click="createGame()">Create the game</button>

  </div> <!-- ./container -->
</section>
