.form__content {
  padding-top: 40px;
  padding-bottom: 40px;

  .form-control,
  .btn {
    @extend .-radius;
    height: 50px;
  }

  .page-header {
    border-width: 2px;
  }

  .form-group {
    margin-bottom: 30px;
  }
}

@media (min-width: $screen-sm-min) {
  .form__content {
    padding-right: 40px;
    padding-left: 40px;
  }
  .form__wrapper {
    border-radius: 15px;
    .form__content {
      &:first-child {
        border-radius: 15px 0 0 15px;
        background-color: #fff;
      }
      &:last-child {
        border-radius: 0 15px 15px 0;
      }
    }
  }
}
